@page "/headlinemaintenance"
@inject HttpClient Http

<PageTitle>Headlines</PageTitle>

<h1>Headlines</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (headlines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Headline</th>
                <th>Image</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var headline in headlines)
            {
                <tr>
                    <td>@headline.Id</td>
                    <td>
                        <marquee bgcolor="@headline.BackgroundColour" font style="bold" scrolldelay="100">
                            <font size="5" face="Verdana" color="@headline.ForegroundColour">@headline.Banner</font>
                        </marquee>
                    </td>
                    <td>
                        <img width="25" alt="" src="@headline.ImageUrl"/>
                    </td>
                    <td>
                        <input type="checkbox" @bind="@headline.Active"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Headline[]? headlines;

    protected override async Task OnInitializedAsync()
    {
        headlines = await Http.GetFromJsonAsync<Headline[]>("sample-data/headlines.json");
    }

    public class Headline
    {
        public int Id { get; set; }
        public string Banner { get; set; }
        public string BackgroundColour { get; set; }
        public string ForegroundColour { get; set; }
        public string? ImageUrl { get; set; }
        public bool Active { get; set; }
    }
}
